@import 'mixins';

main {
	//@include border(red);
	text-align: center;
	.editor_container {
		//@include border(green);
		border: solid 1px;
		width: 40%;
		margin: 1em auto;
		background-color: white;
		//position: fixed;
		left: 30%;
		border-radius: 0.5em;
		@media screen and (max-width: 600px) {
			width: 70%;
		}

		.editor {
			height: 30px;
			//@include border(red);
			border-bottom: solid 1px;
			text-align: left;
			color: black;		
			padding-left: 1em;
			padding-top: 0.5em;
			position: relative;
			.react-logo {
				padding-right: 0.5em;
			}
			.max_mix_container {
				position: absolute;
				left: 90%;
				bottom: 5px;
				cursor: pointer;
				.max {
					//position: absolute;
					//right: 3%;
					//@include border(red);
					font-size: 1.4em;
					cursor: pointer;
				}
			}
		}
		#editor {
			//@include border(blue);
			width: 98%;
			height: 30vh;
			border: none;
			outline: none;
			background-color: #444;
			color: white;
		}
	}
	.preview_container {
		@include border(red);
		border-radius: 0.5em;
		width: 75%;
		margin: auto;
		text-align: left;
		padding: 1.5em;
		background-color: white;
		border: solid 1px;
		position: relative;
		overflow: scroll;
		height: 500px;

		.preview {
			right: -0.1%;
			//@include border(red);
			border: solid 1px;
			width: 100%;
			height: 30px;
			position: absolute;
			top: 0px;
			padding-top: 0.7em;
			.react-logo {
				padding: 0 0.5em;
		}
		#preview {
			@include border(blue);
			width: 300px;
			background-color: blue;
		}
		.max_mix_container2 {
			//@include border(blue);
			float: right;
			cursor: pointer;
			margin-right: 1em;
			}
		}
		pre {
			//@include border(green);
			background-color: black;
			color: white;
			padding: 1.5em;
			width: fit-content;
			position: relative;
			width: 89%;
			hyphens: auto;
			code {
				//@include border(orange);
				font-size: 0.8em;
				word-break: break-all;
				hyphens: auto;
			}
		}
	}
}
img {
	width: 100%;
}
