@import 'mixins';

main {
	//@include border(red);
	background-color: black;
	text-align: center;
	.editor_container {
		//@include border(green);
		border: solid 1px;
		width: 40%;
		margin: 1em auto;
		background-color: white;
		//position: fixed;
		left: 30%;

		.editor {
			height: 30px;
			//@include border(red);
			border-bottom: solid 1px;
			text-align: left;
			color: black;		align-items: center;
			padding-left: 1em;
			padding-top: 0.5em;
			position: relative;
			.react-logo {
				padding-right: 0.5em;
			}
			.max {
				position: absolute;
				right: 3%;
				//@include border(red);
				font-size: 1.4em;
			}
		}
		#editor {
			//@include border(blue);
			width: 98%;
			height: 30vh;
			border: none;
			outline: none;
			background-color: #444;
			color: white;
		}
	}
	.preview_container {
		@include border(black);
		width: 75%;
		height: 70vh;
		overflow: scroll;
		margin: auto;
		text-align: left;
		padding: 1.5em;
		background-color: white;
	}
}
img {
	width: 100%;
}
pre {
	//@include border(green);
	background-color: black;
	color: white;
	padding: 1.5em;

	code {
		//@include border(orange);
	}
}